body { 
    overflow-y: hidden;
    margin: 0px;
}

.dropdowns{
    width:70vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size:1.5vw;
    border-top: solid;
    border-color: lightgray;
    text-align: left;
  }
/** Simple span to increase section text size**/
span b { font-size: 150%; font-weight: normal }