/*header css*/
.nav {
  width: 100%;
  font-size: 1.3vw;
  position: relative;
  z-index: 100;
  padding: 0px;
  top: 0;
  background-color: rgb(236, 230, 230, 0.8);
  overflow: hidden;
}
.imageHeader {
  position: absolute;
  top: 450%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  z-index: -1;
  opacity: 0.4;
}
.logoHeader {
  width: 5%;
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;  
  list-style: none;
  margin: 0 0 0 58vw;

}
.nav ul li {
  padding: 0 2vw;
  line-height: 12vh;  
  transition: 0.2s;
}
.nav ul li:hover {
  background-color: floralwhite;
}
.nav a {
  text-decoration: none;
  color: black;
  font-family: 'Staatliches', cursive;
}


footer {
  height: 25vh;
  width: 100%;
  background-color: dimgray;
}