/*body classes*/
body { 
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h4, p {
  margin: 0px;
}

.title {
  height: 65vh;
  width: 100%;
  position: fixed;
  overflow: visible;
  z-index: -1;
  top: 0;
}
.title img {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}
.title div {
  transform: translate(-50%, -50%);
  top: 60%;
  left: 45%;
  font-size: 3vw;
  position: absolute;
  text-align: left;
  font-weight: bold;
  text-shadow: 0.2vw 0.2vw beige;
}

/*The student and class selection portion of the webpage*/
.blurOverlay {
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 87%);
  height: 10vh;
  margin: 70vh 0 0 0;
  opacity: 0.2;
}
.becomeTutor {
  width: 100%;
  background-color: azure;
  padding: 11vh 0 11vh 0;
}
.becomeTutor img {
  width: 35%;
  vertical-align: middle;
  display: inline-block;
}
.becomeTutor div {
  width: 35%;
  padding: 1vh 0 0 1vw;
  margin: 0 6vw 0 15vw;
  font-size: 1.5vw;
  vertical-align: middle;
  display: inline-block;
}
.becomeTutor h1, .sectionSubjects h1, .sectionTeacher h1  {
  margin: 0.8vh 0 1vh 0;
  font-size: 4.5vw;
}
.becomeTutor p, .sectionSubjects p, .sectionTeacher p {
  font-size: 1vw;
  margin: 5vh 0 0 0;
}
.becomeTutor h4, .sectionSubjects h4, .sectionTeacher h4 {
  font-weight: normal;
  font-size: 1.5vw;
}

/*subject section*/
.sectionSubjects {  
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 11vh 0 11vh 0;
  background-color: #E5EEDA;
}
.sectionSubjects > div, .sectionTeacher > div {
  margin: 0 0 0 15vw;
}
.sectionSubjects div div {
  display: inline-block;
  width: 34vw;
  background-color: floralwhite;
  margin: 2vw 2vw 0 0;
  height: 23vh;
}
.sectionSubjects img {
  height: 23vh;
}


/*Teacher sign up of the webpage*/
.classContainer {
  width: 100%;
  height: 80vh;
  padding: 10vh 0 0 0;
  position: relative;
  background-color: azure;
}
.classContainer img {
  width: 50%;
  float: right;
}
.classContainer > div {
  width: 30%;
  margin: 0 0 0 5vw;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: right;
}
.classContainer p {
  margin: 3vh 0 3vh 0;
}
.classContainer h4 {
  margin: 0vh 0 1vh 0;
  font-weight: normal;
  font-size: 1.2vw;
}
.classContainer div div {
  background-color: blue;
  width: 35%;
  margin: auto;
  color: white;
  text-align: center;
  padding: 0.7vw;
  transition: 0.2s;
}
.classContainer div div:hover {
  background-color: lightgreen;
}
